.search-products{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Bellota Text;
    font-size: 18px;
    flex-wrap: wrap;
}

.filtro-preco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products a{
    text-decoration: none;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FAFAFA;;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.orderby, .search-field, #min_price, #max_price{
    background-color: #e4fbff;
    border: none;
    border-bottom: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
}
.EachCategory h1{
    font-family: Bellota Text;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}
.filter-products{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
}

.category-title h1{
    font-family: Bellota Text;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.category-title h2{
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}