/* ESTILIZAÇÃO FORMULÁRIO */

.woocommerce-billing-fields h3 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #000000;

}

.woocommerce-billing-fields label {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}

.woocommerce-billing-fields input{
    border: none;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.woocommerce form .form-row.woocommerce-validated input.input-text {
    border-bottom: 2px solid #6A066D;
}

.input-text.qty.text{
    border: none;
    border-bottom: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #e4fbff;
}

