#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #F5C661;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:30px;
}


.mini-cart-title{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #6A066D;
    width: 90%;
    display: block;
    margin: auto;

}

#close-nav-btn{
    text-align: end;
    font-weight: 400;
    font-size: 30px;
    padding: 0.5em;
    cursor: pointer;
}

#opacity{
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background-color: black;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: none;
}

.mini-cart-product{
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    background-color: #FAFAFA;
    border: 1px;
    border-style: solid;
    border-color: #7E3481;
    display: flex;
}

.mini-cart-product-img img{
    width: 100px;
    height: auto;
}

.mini-cart-product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
}

.mini-cart-product-name{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.mini-cart-product-price{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    text-align: end;
}

.mini-cart-line{
    background-color: #6A066D;
    height: 1px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mini-cart-total{
    width: 90%;
    display: block;
    margin: auto;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 1em;
}

.mini-cart-checkout{
    width: 90%;

    display: flex;
    justify-content: center;
}

.mini-cart-button{
    background-color: #7E3481;
    color: white;

    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    border: none;
    cursor: pointer;

    padding: 0.5em 2em 0.5em 2em;
}

.order-product-img img{
    min-width: 100px;
}

.woocommerce-billing-fields__field-wrapper input{
    background-color: #E7FAFE;
    border: none;
    border-bottom: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

#billing_country_field{
    display: none;
}

.order-confirmation{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.orders-title{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}