
.woocommerce-Addresses a{
    text-decoration: none;
    color: #09A7B1;
    text-decoration-line: underline;
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justified;
    position: absolute;
    left: 70%;
 
}

.add-new-address a, .wc-address-book-address a, .add-new-address a:hover, .wc-address-book-address a:hover{
    display: flex;
    text-decoration: #09A7B1;
    color: #09A7B1;
    text-decoration-line: underline;
    font-family: Bellota Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justified;  
    justify-content: space-around;
    padding: 0px;
    background-color: #FFFFFF;
    position: absolute;
    top:35%;
    left: 55%;
}

/* .woocommerce-MyAccount-content p{
    padding-bottom: 40px;
} */

.all-address-container-enderecos{
    display: flex;
    justify-content:space-between;
    padding: 5px;
    width: 700px;
    height: 50px;
 
}

.all-address-name{
    display: inline-block;
    color: #6A066D;
    font-size: 24px;
    font-family: Bellota Text;

}

.all-address-cep{
    display: inline-block;
    color: #6A066D;
    font-size: 24px;
    font-family: Bellota Text;   
}

.all-address-endereco{
    display: inline-block;
    font-size: 24px;
    font-family: Bellota Text;   
}

