/* ESTILIZAÇÃO FOOTER */

.rodape {
    display: flex;
    flex-direction: row;
    background: #F5C661;
    padding: 0.2%;
    justify-content: center;
}

.copyrigth {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}