/* ESTILIZAÇÃO MENU USUARIO*/

.menu-menu-usuario-container {   
    background: #F5C661; 
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3%;
}

.menu a {
    text-decoration: none;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
