.summary{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: space-between;
    gap: 2em;
    font-family: 'Bellota Text';
    font-style: normal;
    text-align: justify;
}

.single-product-img{
    width: 40%;
    min-width: 200px;
}

.single-product-img img{
    width: 100%;
}

.single-product-info{
    width: 40%;
    min-width: 200px;
}

.single-product-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
}

.single-product-name{
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.single-product-sale, .single-product-total{

    margin-top: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.single-product-price{
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: justify;
}

.single-product-add-to-cart-button{
    background-color: #7E3481DC;
    color: white;
    font-family: 'Bellota Text';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    border: none;
    padding: 0.4em;
}

.reset_variations{
    text-decoration: none;
    color: black;
}

.variations_form{
    width: 100%;
}

#pa_porcao{
    background-color: #e4fbff;
    border: none;
    border-bottom: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

#quantity_62ffdb915e959 {
    border: none;
    border: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background-color: #e4fbff;
}